html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: serif;
}

.header{
  background: #e3e3e3;

}

.header-logo{
  float:left;
  color: #333;
  display: block;
  padding: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-icon-bar{
  display: block;
  float: right;
  padding: 30px;
  display:none;
  cursor: pointer;
}

.header-icon-bar span{
  display: block;
  height: 3px;
  width:30px;
  background:#fff;
  margin-bottom: 5px;
}

.header-list{
  float:right;
  margin: 0;
  padding: 0;
}

.header-list-item{
  display: inline-block;
}

.header-list-item a{
  display: block;
  padding: 30px;
  color:#333;
  text-decoration: none;
}

.header-list-item a:hover{
  background: rgba(0, 0, 0, 0.7);
  color:#fff;
}

.half-cover{
  height:400px;
  width:100%;
  background-image: url("photo/guy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.cover-filter{
  background: #000;
  width:100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.cover-caption{
  display:table;
  height:100%;
  width:100%;
  z-index: 1;
  position: relative;
}

.cover-caption-copy{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
}

.cover-caption-copy h1{
  margin-left: 60px;
  font-size: 40px;
  font-weight: 100;
}

.cover-caption-copy h2{
  margin-left: 60px;
  font-size: 30px;
  font-weight: 100;
}
.cover-caption-copy a{
  margin-left: 60px;
  border: 1px solid #000;
  padding:10px;
  text-decoration: none;
  border-radius: 6px;
  background: #e3e3e3;
  color:#333;
}

.cover-caption-copy a:hover{
  background: #333;
  color:#fff;
}

.contact{
  height:750px;
  border: 1px solid #000;
  position: relative;
  background: #e3e3e3;
}

.contact-form{
  width:70%;
  height:90%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 2px 2px;
  background-color: #fff;
}

.contact-form h1{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}

.contact-form p{
  font-size: 14px;
  text-align: center;
  margin: 0 25px;
}

form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.content-form1{
  padding: 20px;
  max-width: 600px;
  max-height: 600px;
  text-align: center;
  display: inline-block;
  bottom: 100px;
  right:150px;
  display:grid;
  justify-content: center;
}

.name{
  margin: 6px;
  display: inline-block;
}

.last-name{
  margin: 6px;
  display: inline-block;
}

.mail{
  margin: 6px;
  display: inline-block;
}

.phone{
  margin: 6px;
  display: inline-block;
}

.text-area{
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 16px;
  display: block;
}

label{
  font-family: sans-serif;

}

input{
  width:350px;
}

#Name{
  border: 1px solid gray;
  border-radius: 3px;
}

#Mail{
  border: 1px solid gray;
  border-radius: 3px;
}

textarea{
  margin-top: 10px;
  width: 350px;
  height:75px;
  max-width:350px;
  max-height: 75px;
  min-width:200px;
  min-height: 75px;
  border: 1px solid gray;
  border-radius: 3px;
}

.Button{
  margin-left: 6px;
  margin-top: 16px;
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 6px;
  background: #1356db;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.Button:hover{
  opacity: 0.6;
}


footer{
   height: 7vh;
   background: #333;
   position: relative;
   overflow: hidden;
 }

 footer p{
  text-align: center;
  display: block;
  margin: 15px auto;
  color: #fff;
 }

@media (max-width:998px) {

  .header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #333;
    opacity: 1;
  }

  .header-logo{
    color:#fff;
  }

  .header-icon-bar{
    display: block;
  }

  .header-list{
    width:100%;
    height: 0;
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .header-list-item{
    display:block;
    border-bottom: 1px solid #fff;
  }

  .header-list-item:hover{
    background: rgba(0, 0, 0, 0.6);
  }

  .header-list-item a{
    color:#fff;
  }

  .is-open{
    height:325px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .cover-caption-copy h1{
    margin-right: 60px;
    font-size: 30px;
    font-weight: 100;
  }

  .cover-caption-copy h2{
    margin-right: 60px;
    font-size: 20px;
    font-weight: 100;
  }
  .cover-caption-copy a{
    margin-right: 60px;
    border: 1px solid #000;
    padding:10px;
    text-decoration: none;
    border-radius: 6px;
    background: #e3e3e3;
    color:#333;
  }
}

@media (max-width:767px) {
  .header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #333;
    opacity: 1;
  }
  .header-icon-bar{
    display: block;
  }

  .header-list{
    width:100%;
    height: 0;
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .header-list-item{
    display:block;
  }

  .header.list-item a {
    color:#fff;
  }

  .is-open{
    height:325px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .half-cover{
    height:100vh;
    width:100%;
    background-image: url("photo/guy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
  }

  .cover-caption-copy{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }

  .cover-caption-copy h1{
    margin-right: 60px;
    font-size: 30px;
    font-weight: 100;
  }

  .cover-caption-copy h2{
    margin-right: 60px;
    font-size: 20px;
    font-weight: 100;
  }
  .cover-caption-copy a{
    margin-right: 60px;
    border: 1px solid #000;
    padding:10px;
    text-decoration: none;
    border-radius: 6px;
    background: #e3e3e3;
    color:#333;
  }

  .contact{
    height:900px;
    border: 1px solid #000;
    position: relative;
    background: #e3e3e3;
  }

  .contact-form p{
    font-size: 16px;
  }

  input{
    width:200px;
  }

  #Name{
    border: 1px solid gray;
    border-radius: 3px;
  }

  #Mail{
    border: 1px solid gray;
    border-radius: 3px;
  }

  textarea{
    margin-top: 10px;
    width:200px;
    height:75px;
    border: 1px solid gray;
    border-radius: 3px;
  }

  .Button{
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 16px;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 6px;
    background: #1356db;
    color: #fff;
    outline: none;
    cursor: pointer;
  }

  .content-form1{
    padding: 20px;
    max-width: 600px;
    max-height: 100px;
    text-align: center;
    display: inline-block;
    bottom: 100px;
    right:150px;
    display:grid;
    justify-content: center;
  }

  footer{
    height: 8vh;
  }

  footer p{
    font-size: 14px;
  }

}

@media (max-width:360px) {

  .contact{
    height:150vh;
    border: 1px solid #000;
    position: relative;
    background: #e3e3e3;
  }

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
