html,body{
  margin: 0px;
  padding: 0px;
}

.header{
  background: #e3e3e3;
}

.header-logo{
  float:left;
  color: #333;
  display: block;
  padding: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-icon-bar{
  display: block;
  float: right;
  padding: 30px;
  display:none;
  cursor: pointer;
}

.header-icon-bar span{
  display: block;
  height: 3px;
  width:30px;
  background:#fff;
  margin-bottom: 5px;
}

.header-list{
  float:right;
  margin: 0;
  padding: 0;
}

.header-list-item{
  display: inline-block;
}

.header-list-item a{
  display: block;
  padding: 30px;
  color:#333;
  text-decoration: none;
}

.header-list-item a:hover{
  background: rgba(0, 0, 0, 0.7);
  color:#fff;
}

.half-cover{
  height:65vh;
  width:100%;
  background-image: url("photo/guy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.cover-filter{
  background: #000;
  width:100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.cover-caption{
  display:table;
  height:100%;
  width:100%;
  z-index: 1;
  position: relative;
}

.cover-caption-copy{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
}

.cover-caption-copy h1{
  margin-left: 60px;
  font-size: 40px;
  font-weight: 100;
}

.cover-caption-copy h2{
  margin-left: 60px;
  font-size: 30px;
  font-weight: 100;
}
.cover-caption-copy a{
  margin-left: 60px;
  border: 1px solid #000;
  padding:10px;
  text-decoration: none;
  border-radius: 6px;
  background: #e3e3e3;
  color:#333;
}

.cover-caption-copy a:hover{
  background: #333;
  color:#fff;
}

.main{
  height:600px;
  width: 100%;
  position: relative;
  background: #fff;
  font-family: sans-serif;
}

.sub-main{
  height:300px;
  max-width:1000px;
  position: absolute;
  top:-15%;
  left: 50%;
  transform: translateX(-50%);

}

.sub-main-card{
  border: 1px solid #000;
  border-radius: 10px;
  display: inline-block;
  width:30%;
  height:100%;
  color: #333;
  text-align: center;
  margin: 0px 10px 10px 10px;
  box-shadow:0px 0px 3px 3px;
}

.card-photo1{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  height:60%;
  background-image: url("photo/new-york1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

.card-photo2{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  height:60%;
  background-image: url("photo/kiev1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

.card-photo3{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  height:60%;
  background-image: url("photo/saintP.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

.card-description{
  width:100%;
  height:40%;
}

.card-description h3 {
  border-bottom: 1px solid #000;
  display: inline-block;
  margin: 6px 0 0 0;
}

.card-description p{
  padding: 0 6px;
}

.hero-text{
  width:100%;
  height:25vh;
  position: absolute;
  bottom:0;
  margin-top: 65px;
  display: table;
}

.hero-text{
  background-image: url("photo/londra1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 160px;
  color:rgba(0,0,0,0.7);
  display: table-cell;
  vertical-align: middle;
}

.main-2{
  height:600px;
  position: relative;
}

.window{
  width:100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.windows-shop{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1em;
  margin-bottom:1em;
  margin-right: 100px;
  margin-left: 100px;
}

.windows-shop2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1em;
  margin: 0 100px;
}

.place1{
  position:relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/roma1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place2{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/moscow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place3{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/singapore1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place4{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/amsterdam1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place5{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/londra1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place6{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/budapest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place7{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/sochi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place8{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url("photo/tallinn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place9{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/stoccolma.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place10{
  position: relative;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url("photo/oxford.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height:280px;
  min-height:200px;
  border:1px solid #fff;
  border-radius: 3px;
  box-shadow:0px 0px 3px 3px;
}

.place1:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place2:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place3:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place4:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place5:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place6:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place7:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place8:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place9:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

.place10:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

#first{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color:#fff;
}

#first b{
  font-size: 40px;
}

#second{
  border:1px solid #000;
  display: inline-block;
  color:#fff;
  padding:10px;
  margin:10px;
  position: absolute;
  bottom:0;
  right:0;
  background-color: #333;
}

.main-3{
  height:800px;
  position: relative;
}

.hero-text2{
  width:100%;
  height:25vh;
  position: absolute;
  top:0;
  display: table;
  background-color: #f2f2f2;
}

.hero-text2 h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 160px;
  color:rgba(0,0,0,0.7);
  display: table-cell;
  vertical-align: middle;
}

.window2{
  width:100%;
  position: absolute;
  top:65%;
  left:50%;
  transform: translate(-50%,-50%);
}

.windows-shop3{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1em;
  margin-right: 100px;
  margin-left: 100px;
  top:100px;
}

.windows-shop4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1em;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 1em;
}

.main-4{
  height:600px;
  width:100%;
  position: relative;
}

.hero-text3 h3{
  font-size: 30px;
  font-weight: 100;
  color:#333;
  background:#f2f2f2;
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.window3{
  width:80%;
  height:40vh;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.window3{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:1em;
}

.place-3{
  position: relative;
  width:100%;
  height:100%;
  border:1px solid #fff;
  border-radius: 10px;
  box-shadow:0px 0px 3px 3px;
}

.place-photo1{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  height:60%;
  background-image: url("photo/flat1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

.place-photo2{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  height:60%;
  background-image: url("photo/flat2.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

.place-photo3{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  height:60%;
  background-image: url("photo/flat3.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

.place-photo4{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  height:60%;
  background-image: url("photo/flat4.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}

.place-description{
  width:100%;
  height:40%;
}

.hero-text2{
  width:100%;
  height:25vh;
  position: absolute;
  top:0;
  display: table;
}

.hero-text2{
  background-image: url("photo/londra1.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.place3:hover{
  opacity: 0.7;
  border: 1px solid yellow;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 99;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

#myBtn p{
    text-align: center;
    text-transform: uppercase;
    margin-top: 6px;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    color:#fff;
  }

#myBtn:hover {
    background: rgba(0, 0, 0, 0.9);
}

footer{
   height: 7vh;
   background: #333;
   position: relative;
   overflow: hidden;
 }

 footer p{
  text-align: center;
  display: block;
  margin: 15px auto;
  color: #fff;
 }

@media (max-width:998px) {

  .header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #333;
    opacity: 1;
  }

  .header-logo{
    color:#fff;
  }

  .header-icon-bar{
    display: block;
  }

  .header-list{
    width:100%;
    height: 0;
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .header-list-item{
    display:block;
    border-bottom: 1px solid #fff;
  }

  .header-list-item:hover{
    background: rgba(0, 0, 0, 0.6);
  }

  .header-list-item a{
    color:#fff;
  }

  .is-open{
    height:325px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .hero-text{
    width:100%;
    height:20vh;
    position: absolute;
    bottom:0;
    margin-top: 65px;
    display: table;
    background-color: #f2f2f2;

  }

  .hero-text h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 120px;
    color:rgba(0,0,0,0.7);
    display: table-cell;
    vertical-align: middle;
  }

  .cover-caption-copy h1{
    margin-right: 60px;
    font-size: 30px;
    font-weight: 100;
  }

  .cover-caption-copy h2{
    margin-right: 60px;
    font-size: 20px;
    font-weight: 100;
  }
  .cover-caption-copy a{
    margin-right: 60px;
    border: 1px solid #000;
    padding:10px;
    text-decoration: none;
    border-radius: 6px;
    background: #e3e3e3;
    color:#333;
  }

  .sub-main-card{
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-block;
    width:29%;
    height:100%;
    color: #333;
    text-align: center;
    margin: 0px 10px 10px 10px;
    box-shadow:0px 0px 3px 3px;
  }

  .sub-main{
    height:40vh;
    width:80%;
    position: absolute;
    top:-15%;
    left:50%;
    transform: translate(-50%);
  }

  .hero-text2{
    width:100%;
    height:20vh;
    position: absolute;
    top:0;
    display: table;
    background-color: #f2f2f2;
  }

  .hero-text2 h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 120px;
    color:rgba(0,0,0,0.7);
    display: table-cell;
    vertical-align: middle;
  }

  .main-4{
    height:80vh;
    width:100%;
    position: relative;
  }

  .window3{
    width:80%;
    height:60vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .window3{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap:1em;
  }

  .place3{
    position: relative;
    width:100%;
    height:100%;
  }

}

  @media (max-width:767px) {
    .header{
      position: fixed;
      z-index: 100;
      width: 100%;
      background: #333;
      opacity: 1;
    }
    .header-icon-bar{
      display: block;
    }

    .header-list{
      width:100%;
      height: 0;
      overflow: hidden;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
    }

    .header-list-item{
      display:block;
    }

    .header.list-item a {
      color:#fff;
    }

    .is-open{
      height:325px;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease-out;
      transition: all .2s ease-out;
    }

    .half-cover{
      height:100vh;
    }

    .hero-text2{
      width:100%;
      height:20vh;
      position: absolute;
      display: table;
      background-color: #f2f2f2;
    }

    .hero-text h1{
      text-transform: uppercase;
      text-align: center;
      font-size: 40px;
      color:rgba(0,0,0,0.7);
      display: table-cell;
      vertical-align: middle;
    }

    .main{
      height:900px;
    }

    .sub-main{
      height:40vh;
      width:60%;
      position: absolute;
      top: 15%;
      left:50%;
      transform: translate(-50%,-50%);

    }

    .sub-main-card{
      margin-top: 10px;
      border: 1px solid #000;
      border-radius: 10px;
      display: block;
      width:100%;
      height:100%;
      color: #333;
      text-align: center;
      margin: 10px 0;
      box-shadow:0px 0px 3px 3px;

    }

    .card-description p{
      font-size: 14px;
      padding: 0 10px;
    }

    .hero-text2{
      width:100%;
      height:15vh;
      position: absolute;
      top:0;
      display: table;
      background-color: #f2f2f2;
    }

    .hero-text2 h1{
      text-transform: uppercase;
      text-align: center;
      font-size: 40px;
      color:rgba(0,0,0,0.7);
      display: table-cell;
      vertical-align: middle;
    }

    .main-2{
      height:1200px;
    }

    .window{
      width:100%;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }

    .windows-shop{
      display:grid;
      grid-template-columns: 1fr;
      grid-gap:1em;
      margin-bottom:1em;
      margin-right: 80px;
      margin-left: 80px;
    }

    .windows-shop2{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap:1em;
      margin: 0 80px;
    }


    #first b{
      font-size: 20px;
    }


    .main-3{
      height: 1200px;
    }

    .window2{
      width:100%;
      position: absolute;
      top:55%;
      left:50%;
      transform: translate(-50%,-50%);
    }

    .windows-shop3{
      display:grid;
      grid-template-columns: 1fr;
      grid-gap:1em;
      margin-right: 80px;
      margin-left: 80px;
    }

    .windows-shop4{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap:1em;
      margin-right: 80px;
      margin-left: 80px;
      margin-top:1em;
    }

    .main-4{
      height:600px;
    }

    .window3{
      width:80%;
      height:60vh;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-40%);
    }

    .window3{
      display: grid;
      grid-template-columns:1fr 1fr;
      grid-column-gap:1em;
      grid-row-gap:3em;

    }


    .place-description p{
	    font-size:11px;

    }

    footer{
      height: 8vh;
    }

    footer p{
      font-size: 14px;
    }

  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */

  }
