html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: serif;
}

.header{
  background: #e3e3e3;

}

.header-logo{
  float:left;
  color: #333;
  display: block;
  padding: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.header-icon-bar{
  display: block;
  float: right;
  padding: 30px;
  display:none;
  cursor: pointer;
}

.header-icon-bar span{
  display: block;
  height: 3px;
  width:30px;
  background:#fff;
  margin-bottom: 5px;
}

.header-list{
  float:right;
  margin: 0;
  padding: 0;
}

.header-list-item{
  display: inline-block;
}

.header-list-item a{
  display: block;
  padding: 30px;
  color:#333;
  text-decoration: none;
}

.header-list-item a:hover{
  background: rgba(0, 0, 0, 0.7);
  color:#fff;
}

.half-cover{
  height:400px;
  width:100%;
  background-image: url("photo/guy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.cover-filter{
  background: #000;
  width:100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.cover-caption{
  display:table;
  height:100%;
  width:100%;
  z-index: 1;
  position: relative;
}

.cover-caption-copy{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
}

.cover-caption-copy h1{
  margin-left: 60px;
  font-size: 40px;
  font-weight: 100;
}

.cover-caption-copy h2{
  margin-left: 60px;
  font-size: 30px;
  font-weight: 100;
}
.cover-caption-copy a{
  margin-left: 60px;
  border: 1px solid #000;
  padding:10px;
  text-decoration: none;
  border-radius: 6px;
  background: #e3e3e3;
  color:#333;
}

.log-in{
  height:600px;
  border: 1px solid #000;
  position: relative;
}

.log-in-form{
  height:80%;
  width:80%;
  border: 1px solid #000;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow:0px 0px 3px 3px;
  background: url('photo/londra1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.log-in-form2{
  height:100%;
  width:25%;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  background: #fff;
}

.content-form1{
  padding: 20px;
  max-width: 600px;
  max-height: 100px;
  text-align: center;
  display: inline-block;
  bottom: 100px;
  right:150px;
  display:grid;
  justify-content: center;
}

input{
  width:200px;
}

#username{
  border: 1px solid gray;
  border-radius: 3px;
  margin: 6px;
}

#password{
  border: 1px solid gray;
  border-radius: 3px;
  margin: 6px;
}

#button{
  border: 1px solid gray;
  border-radius: 3px;
  margin: 6px;
  cursor: pointer;
}

#button:hover{
  background:#333;
  color:#fff;
}

label{
  text-transform: uppercase;
  font-weight: bolder;
}

.icon{
  width:100px;
  height:100px;
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}

#set{
  width:100px;
  height:100px;
}

.cover-caption-copy a:hover{
  background: #333;
  color:#fff;
}

footer{
   height: 7vh;
   background: #333;
   position: relative;
   overflow: hidden;
 }

 footer p{
  text-align: center;
  display: block;
  margin: 15px auto;
  color: #fff;
 }

@media (max-width:998px) {

  .header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #333;
    opacity: 1;
  }

  .header-logo{
    color:#fff;
  }

  .header-icon-bar{
    display: block;
  }

  .header-list{
    width:100%;
    height: 0;
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .header-list-item{
    display:block;
    border-bottom: 1px solid #fff;
  }

  .header-list-item:hover{
    background: rgba(0, 0, 0, 0.6);
  }

  .header-list-item a{
    color:#fff;
  }

  .is-open{
    height:325px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .cover-caption-copy h1{
    margin-right: 60px;
    font-size: 30px;
    font-weight: 100;
  }

  .cover-caption-copy h2{
    margin-right: 60px;
    font-size: 20px;
    font-weight: 100;
  }
  .cover-caption-copy a{
    margin-right: 60px;
    border: 1px solid #000;
    padding:10px;
    text-decoration: none;
    border-radius: 6px;
    background: #e3e3e3;
    color:#333;
  }

  .log-in{
    height:450px;
  }

  .log-in-form2{
    height:100%;
    width:40%;
    border: 1px solid #000;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background: #e3e3e3;
  }
}

@media (max-width:767px) {
  .header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #333;
    opacity: 1;
  }
  .header-icon-bar{
    display: block;
  }

  .header-list{
    width:100%;
    height: 0;
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  .header-list-item{
    display:block;
  }

  .header.list-item a {
    color:#fff;
  }

  .is-open{
    height:325px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .half-cover{
    height:100vh;
    width:100%;
    background-image: url("guy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
  }

  .cover-caption-copy{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }

  .cover-caption-copy h1{
    margin-right: 60px;
    font-size: 30px;
    font-weight: 100;
  }

  .cover-caption-copy h2{
    margin-right: 60px;
    font-size: 20px;
    font-weight: 100;
  }
  .cover-caption-copy a{
    margin-right: 60px;
    border: 1px solid #000;
    padding:10px;
    text-decoration: none;
    border-radius: 6px;
    background: #e3e3e3;
    color:#333;
  }

  .log-in{
    height:600px;
  }

  .log-in-form{
    height:80%;
    width:80%;
    border: 1px solid #000;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow:0px 0px 3px 3px;
    background: url('bigben.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .log-in-form2{
    height:100%;
    width:100%;
    border: 1px solid #000;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background: #e3e3e3;
  }

  footer{
    height: 8vh;
  }

  footer p{
    font-size: 14px;
  }
}

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */
